<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net47" />
  <package id="JetBrains.ReSharper.CommandLineTools" version="2016.2.20160913.100041" targetFramework="net47" developmentDependency="true" />
  <package id="NUnit" version="3.5.0" targetFramework="net47" />
</packages>